<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css">
		
		body{
			background: #FF0DFF;
		}

		div{
			text-align: center;
/*			background: red;*/
		}

		img{
			width: 60%;
		}
		h3{
			text-align: justify;
			padding-right: 10%;
			padding-left: 10%;
			line-height: 20px
		}
		a{
			margin-top: 5px;
			display: block;
    		width: 40%;
		    background-color: #b01f48;
		    border-color: #b01f48;
		    display: inline-block;
		    padding: 3px 6px;
		    margin-bottom: 0;
		    font-size: 12px;
		    font-weight: 400;
		    text-align: center;
		    white-space: nowrap;
		    vertical-align: middle;
		    border: 1px solid transparent;
		    border-radius: 4px;
		    text-decoration: none;
		}

		a p{
			color: #fff;
			margin: 5px 0;
		}

	</style>
</head>
<body>

	<div>
		<img src="http://res.cloudinary.com/joseencinoza/image/upload/v1527441724/IMG-20180523-WA0002.jpg">
		<h3>Hola te damos la bienvenida a Mystique. Ahora podr치s disfrutar de las bondades de Mystique Mobile. Recibir치s promociones personalizadas. Podr치s ver todos nuestros servicios y los mejores consejos de profesionales seleccionados especialmente para ti. Para ello descarga ya Mystique mobile, e ingresa con las credenciales que ingresaste en tu suscripci칩n</h3>
		<br>
		<a href="https://www.google.com/"><p>DESCARGAR APP</p></a>
	</div>


</body>
</html>